<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-container">
        <h1>Welcome to the Dashboard</h1>
        <h2>Your Workouts</h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                <tr>
                    <td>{{ workout[2] }}</td>
                    <td>{{ workout[3] }}</td>
                    <td>{{ workout[4] }}</td>
                    <td>{{ workout[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Add the button to redirect to create_goal -->
        <a href="{{ url_for('create_goal') }}">
            <button>Create Goal</button>
        </a>
    </div>
</body>
</html>
