<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
  <div class="background-container">
    <div class="register-container"> 
      <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" required>
        
        <label for="weight">Weight (kg):</label>
        <input type="text" id="weight" name="weight" required>
        
        <label for="height">Height (cm):</label>
        <input type="text" id="height" name="height" required>
        
        <button type="submit" class="button">Register</button>
      </form>
      <p>Already have an account? <a href="/login" class="button">Login</a></p>
    </div>
  </div>
</body>
</html>
